.blogcard {
  min-height: 467px;
  margin: 0 15px;
  .blogcard-img {
    max-width: 471px;
    max-height: 305px;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center;
      width: 471px;
      height: 305px;
    }
  }

  .blogcard-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 162px;
    max-width: 471px;
    justify-content: center;

    .blogcard-title {
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      color: #333;
      line-height: 29px;
      font-weight: 600;
      transition: all 400ms;
      margin: 0;

      &:hover {
        color: #e3a51e;
      }
    }

    .blogcard-info {
      display: flex;
      gap: 10px;
      margin: 0;

      p {
        font-size: 14px;
        color: #666;
        line-height: 24px;
        display: inline-block;
        margin: 0;

        span {
          color: #333;
          font-weight: 600;
        }
      }
    }

    a {
      font-family: "Montserrat", sans-serif;
      font-size: 15px;
      color: #333;
      line-height: 25px;
      font-weight: 500;
      transition: all 400ms;
      margin: 0;

      &:hover {
        color: #e3a51e;
      }
    }
  }
}