.cart-table {
  max-width: 1320px;
  width: 100%;
  padding: 0 12px;

  .cart-table-container {
    border-collapse: collapse;

    thead {
      border-collapse: collapse;
      border: none;
      box-shadow: (0, 0, 0, 0) 0px 0px 0px 9999px inset;

      tr {
        height: 55px;
        background-color: #e3a51e;

        th {
          color: white;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          font-weight: 600;
          width: 140px;
        }
      }
    }

    tbody {
      border: 1px solid #ccc;

      tr {
        border: 1px solid #ccc;

        td {
          height: 123px;
          width: 140px;
          border: 1px solid #ccc;
          text-align: center;
          color: #333;
          line-height: 28px;
          font-size: 16px;

          img {
            max-width: max-content;
            width: 100%;
            max-height: max-content;
            height: 100%;
          }

          .fa-trash-can {
            transition: all 500ms;
            cursor: pointer;

            &:hover {
              color: #e3a51e;
            }
          }
        }
      }
    }
  }
}

.product-name {
  width: 594px !important;

  a {
    text-align: center;
    transition: all 500ms;
    color: #333;
    line-height: 28px;
    font-size: 16px;

    &:hover {
      color: #e3a51e;
    }
  }
}

.count-item {
  border: 1px solid #ccc;
  width: 90px;
  height: 35px;
  display: flex;
  padding: 0px 16px;

  span {
    display: inline-block;
    flex-grow: 1;
    line-height: 33px;
    font-size: 22px;
    user-select: none;
    cursor: pointer;
  }

  .count {
    flex-grow: 1;
    color: #000;
    line-height: 34px;
    font-size: 16px;
    cursor: auto;
  }
}

.empty-cart {
  text-align: center;
  color: #333;
  height: 55px;
  line-height: 55px;
}