#checkout {
    margin: 80px auto;
    max-width: 1320px;
    padding: 0 12px;

    .checkout-accordion {
        width: 100%;

        .accordion-login {
            margin-bottom: 30px;

            .accordion-heading {
                height: 55px;
                background-color: #f7f7f7;
                border-top: 3px solid #e3a51e;
                padding: 15px 20px;
                font-size: 18px;
                color: #333;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;

                span {
                    margin-left: 10px;
                    color: #e3a51e;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    transition: all 400ms;

                    &:hover {
                        color: #333;
                    }
                }
            }

            .accordion-body {
                border: 1px solid #ccc;
                font-size: 14px;
                padding: 20px;

                .login-content {
                    width: 100%;
                    min-height: 300px;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 6px 0px;
                    padding: 30px 200px;
                    gap: 20px;

                    .login-inputs {
                        input {
                            width: 100%;
                            height: 50px;
                            color: #666666;
                            border: 1px solid #ccc;
                            padding: 12px 10px;
                            font-size: 14px;
                            background: #f7f7f7;
                            outline: none;
                            margin: 10px 0;

                            &::placeholder {
                                font-style: italic;
                                font-size: 13px;
                                color: #8a8a8a;
                            }

                            &:focus {
                                background-color: transparent;
                                border-radius: 0;
                                border: 1px solid #e3a51e;
                            }
                        }
                    }

                    .login-text {
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0 20px;

                        * {
                            margin: 0;
                        }

                        .checkbox {
                            span {
                                font-size: 14px;
                                color: #333333;
                                padding: 0px;
                            }
                        }

                        a {
                            font-size: 12px;
                            color: #e3a51e;
                        }
                    }

                    button {
                        border: none;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1;
                        color: #e3a51e;
                        outline: none;
                        transition: 0.4s;
                        display: inline-block;
                        padding: 14px 25px;
                        background-color: #333333;

                        &:hover {
                            background-color: transparent;
                            color: #666666;
                        }
                    }
                }
            }
        }

        .accordion-coupon {
            .accordion-heading {
                height: 55px;
                background-color: #f7f7f7;
                border-top: 3px solid #e3a51e;
                padding: 15px 20px;
                font-size: 18px;
                color: #333;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;

                span {
                    margin-left: 10px;
                    color: #e3a51e;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    transition: all 400ms;

                    &:hover {
                        color: #333;
                    }
                }
            }

            .accordion-body {
                border: 1px solid #ccc;
                font-size: 14px;
                padding: 20px;

                .coupon {
                    max-width: 674px;
                    width: 100%;
                    height: 49px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 0;

                    input {
                        max-width: 453px;
                        width: 100%;
                        height: 46px;
                        border: 1px solid #ccc;
                        outline: none;
                        font-size: 14px;
                        color: #000;
                        padding: 10px 12px;
                        margin: 0;
                        background: #f7f7f7;

                        &:focus {
                            border-color: #e3a51e;
                        }

                        &::placeholder {
                            font-style: italic;
                            font-size: 13px;
                        }
                    }

                    button {
                        margin: 0;
                        width: 171px;
                        height: 46px;
                        border: none;
                        background-color: #333;
                        color: #e3a51e;
                        font-size: 16px;
                        transition: all 600ms;

                        &:hover {
                            color: #666;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .checkout-container {
        display: flex;
        gap: 20px;
        padding: 40px 0;

        .checkout-billing {
            width: 50%;
            margin: 0;

            * {
                margin: 0;
            }

            h2 {
                font-size: 24px;
                line-height: 60px;
                color: #333;
                font-family: Montserrat, sans-serif;
                font-weight: 500;
                border-bottom: 1px solid #ccc;
            }

            .checkout-inputs {
                padding: 40px 0;

                .checkout-input-name {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 25px;
                }

                div {
                    label {
                        color: #333;
                        font-size: 14px;
                    }

                    input {
                        width: 100%;
                        height: 50px;
                        color: #666666;
                        border: 1px solid #ccc;
                        padding: 12px 10px;
                        font-size: 14px;
                        background: #f7f7f7;
                        outline: none;
                        margin: 10px 0;

                        &::placeholder {
                            font-style: italic;
                            font-size: 13px;
                            color: #8a8a8a;
                        }

                        &:focus {
                            background-color: transparent;
                            border-radius: 0;
                            border: 1px solid #e3a51e;
                        }
                    }

                    textarea {
                        padding: 10px;
                        max-width: 636px;
                        width: 100%;
                        height: 100px;
                        background-color: #f3f6f5;
                        outline: none;
                        color: #000;
                        border: 1px solid #ccc;

                        &::placeholder {
                            font-style: italic;
                        }

                        &:focus {
                            background-color: transparent;
                            border-radius: 0;
                            border: 1px solid #e3a51e;
                        }
                    }

                    select {
                        width: 100%;
                        height: 50px;
                        color: #666666;
                        border: 1px solid #ccc;
                        padding: 12px 10px;
                        font-size: 14px;
                        background: #f7f7f7;
                        outline: none;
                        margin: 10px 0;

                    }
                }
            }
        }

        .checkout-summary {
            width: 50%;
            margin: 0;

            * {
                margin: 0;
            }

            h2 {
                font-size: 24px;
                line-height: 60px;
                color: #333;
                font-family: Montserrat, sans-serif;
                font-weight: 500;
                border-bottom: 1px solid #ccc;
            }

            .summary {
                margin: 40px 0;
                background: #f7f7f7;

                .table-summary {
                    table {
                        width: 100%;
                        color: #333;
                        border: 1px solid #ccc;
                        font-size: 15px;
                        padding: 12px 10px;
                        border-collapse: collapse;

                        tr td,
                        th {
                            color: #333;
                            text-align: center;
                            border: 1px solid #ccc;
                            height: 50px;
                        }

                        td {
                            width: 60%;
                        }

                        .total-price {
                            width: 40%;
                        }
                    }
                }

                .radio {
                    .css-dmmspl-MuiFormGroup-root {
                        .css-ahj2mt-MuiTypography-root {
                            color: #333;
                            font-size: 14px;
                        }
                    }

                    button {
                        border: none;
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1;
                        color: #e3a51e;
                        outline: none;
                        transition: 0.4s;
                        display: inline-block;
                        padding: 14px 25px;
                        background-color: #333333;

                        &:hover {
                            background-color: transparent;
                            color: #666666;
                        }
                    }
                }
            }
        }
    }
}