footer {
    background-color: #F0F0F0;
    padding: 40px 0 80px;

    .footer-container {
        max-width: 1320px;
        padding: 40px 12px 0;
        display: flex;

        .footer-account {
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                color: #333333;
                font-weight: 600;
                height: 24px;
            }

            p {}
        }

        .footer-categories {
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                color: #333333;
                font-weight: 600;
                height: 24px;
            }

            p {}
        }

        .footer-information {
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                color: #333333;
                font-weight: 600;
                height: 24px;
            }

            p {}
        }

        .footer-links {
            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 18px;
                color: #333333;
                font-weight: 600;
                height: 24px;
            }

            p {}
        }
    }
}