@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666666;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
.overflow-hidden{
    overflow: hidden;
}
.green{
    color:#198754 !important;
}
.greenDetails{
    color:#22dd77 !important;
}
.red{
    color:#dc3545 !important ;
}
// font-family: 'Montserrat', sans-serif;