#top-seller {
  padding-top: 75px;
  .top-seller-container {
    max-width: 1320px;
    padding: 0 12px;

    .top-seller-title {
      text-align: center;
      padding-bottom: 40px;

      h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
        line-height: 56px;
        color: #333;
        font-weight: 600;
      }

      p {
        font-size: 18px;
        line-height: 31px;
      }
    }

    .top-seller-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .top-seller-img {
        margin: 0;
        img {
          max-width: 375px;
          min-height: 370px;
          margin: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
