#wishlist {
  padding: 80px 0;

  .wishlist-table-container {
    max-width: 1320px;
    width: 100%;
    padding: 0 12px;
    border-collapse: collapse;

    thead {
      border-collapse: collapse;
      border: none;
      box-shadow: (0, 0, 0, 0) 0px 0px 0px 9999px inset;

      tr {
        height: 55px;
        background-color: #e3a51e;

        th {
          color: white;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          font-weight: 600;
          width: 140px;
        }
      }
    }

    tbody {
      border: 1px solid #ccc;

      tr {
        border: 1px solid #ccc;

        td {
          height: 123px;
          width: 140px;
          border: 1px solid #ccc;
          text-align: center;
          color: #333;
          line-height: 28px;
          font-size: 16px;

          img {
            max-width: max-content;
            width: 100%;
            max-height: max-content;
            height: 100%;
          }

          .fa-trash-can {
            transition: all 500ms;
            cursor: pointer;

            &:hover {
              color: #e3a51e;
            }
          }
        }
      }
    }
  }
}

.product-name {
  width: 594px !important;

  a {
    text-align: center;
    transition: all 500ms;
    color: #333;
    line-height: 28px;
    font-size: 16px;

    &:hover {
      color: #e3a51e;
    }
  }
}

.wishlist-add-cart {
  transition: all 500ms;
  cursor: pointer;

  &:hover {
    color: #e3a51e;
  }
}

.empty-wishlist {
  text-align: center;
  color: #333;
  line-height: 35px;
  font-size: 17px;

  a {
    font-weight: 600;
    color: #e3a51e;
  }
}